# Large disc files (not tracked in git)
/extracted-disc/*
/extracted-english-disc/*
/english-disc/*
/original-disc/*
/translated-disc/*
/extracted-afs/*
/extracted-english-afs/*
/modified-disc-files/*
/modified-afs-contents/*

/textures/*

# Tools are downloaded separately
/tools/*

# Keep directory structure
!/**/.gitkeep
